@import '../../../../src/variables.scss';

.booking-footer {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #f1f2f2;
  border-bottom: 1px solid #ebebeb !important;
  .footer-content {
    padding: 0.7rem;
    display: flex;
    @media (min-width: 1025px) {
      width: 46%;
      margin: 0 auto;
    }
    .footer-left {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
        flex: 1 1 25%;
      }
      .footer-title {
        font-weight: 700;
      }
      .footer-subtitle {
        color: $color-light-blue;
        font-weight: 700;
        font-size: 0.8rem;
      }
    }
    .footer-center {
      flex: 1 1 50%;
      @media (min-width: 768px) {
        flex: 1 1 25%;
        text-align: center;
      }
      .footer-price {
        font-weight: 700;
        font-size: 1.2rem;
        color: #000000;
      }
      .footer-title {
        font-weight: 500;
      }
    }
    .footer-right {
      flex: 0;
      .btn-book {
        height: auto;
        .btn-text {
          font-weight: 700;
          color: #000000;
          display: block;
          margin-bottom: -6px;
          text-transform: uppercase;
        }
        .btn-subtext {
          font-size: 0.6rem;
          margin-top: 0.1rem;
          display: block;
        }
      }
    }
  }
}

.promo-modal {
  z-index: 1000;
  .promo-card {
    text-align: center;
    width: 95%;
    @media (min-width: 768px) {
      width: 45%;
    }
    margin: 0 auto;
    padding: 1rem;
    .promo-modal-title {
      color: #000000;
      font-weight: 700;
    }
    .promo-modal-subtitle {
      font-size: 0.7rem;
      color: #afafaf;
    }
    .promo-image {
      margin-top: 1rem;
    }
    .promo-modal-input {
      border: 1px solid $color-light-blue;
      border-radius: 5px;
      height: 40px;
      text-align: center;
      width: 100%;
      color: #c0c0c0;
      font-weight: 700;
      font-size: 1.2rem;
      letter-spacing: 1rem;
      margin-top: 1rem;
    }
    .btn-modal-promo {
      font-weight: 700;
      color: #0a0a0a;
      display: block;
      margin-top: 1rem;
      width: 100%;
      text-transform: uppercase;
    }
    .modal-text {
      margin: 1rem 0;
      font-weight: 700;
      color: #000000;
      font-size: 0.8rem;
    }
    .modal-phone {
      font-weight: 700;
      color: $color-light-blue;
    }
  }
}
