<div class="fixed-footer booking-footer">
  <div class="footer-content">
    <div class="footer-left">
      <p class="footer-title">{{ spaceName }}</p>
      <p class="footer-subtitle">{{ organizationName }}</p>
    </div>
    <div class="footer-center">
      <p class="footer-title">Total Payable</p>
      <p class="footer-price">
        LKR
        {{ advancedEnabled ? paymentInfo.payableAdvance : totalBookingCharge }}
      </p>
    </div>
    <div class="footer-right">
      <button
        data-nav="next"
        class="button is-warning btn-book"
        (click)="continueBooking()"
        [disabled]="numberOfHours === 0"
      >
        <p>
          <span class="btn-text">Next</span
          ><span class="btn-subtext">You won't be charged yet</span>
        </p>
      </button>
    </div>
  </div>
</div>

<div class="modal promo-modal" [class.is-active]="promptConatctModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card promo-card">
      <div class="card-content promo-modal-content">
        <p class="promo-modal-title">Enter Mobile Number</p>
        <p class="promo-modal-subtitle">
          This is to provide you a royal service
        </p>
        <img
          src="../../../assets/icons/smile.png"
          alt="img"
          class="promo-image"
        />
        <div class="promo-content">
          <input
            type="text"
            name=""
            class="promo-modal-input"
            id=""
            value="GQY1U"
          />
          <a class="button is-warning btn-modal-promo">Done</a>
        </div>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="promptConatctModal = false"
  ></button>
</div>

<div class="modal promo-modal" [class.is-active]="promoInfo && modalActive">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card promo-card">
      <div class="card-content promo-modal-content">
        <p class="promo-modal-title">{{ promoInfo?.message }}</p>
        <div class="promo-content">
          <a
            class="button is-warning btn-modal-promo"
            (click)="modalActive = false"
            >Close</a
          >
        </div>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="modalActive = false"
  ></button>
</div>
