<div class="step-content payment-summary has-text-centered is-active">
  <div class="card">
    <div class="card-content payment-summary-container">
      <div class="payment-column">
        <p class="pay-title pay-left">Space Price</p>
        <p class="pay-title pay-right">{{ paymentInfo.slotCharge | number }}</p>
      </div>
      <div class="payment-column">
        <p class="pay-title pay-left">Amenities</p>
        <p class="pay-title pay-right">
          {{ paymentInfo.extraAmenityCharge | number }}
        </p>
      </div>
      <div class="payment-column">
        <p class="pay-title pay-left">Discounts</p>
        <p class="pay-title pay-right">({{ discountAmount | number }})</p>
      </div>
      <div class="payment-column payment-total">
        <p class="pay-title pay-left">Total</p>
        <p class="pay-title pay-right">{{ totalCost | number }}</p>
      </div>
      <div
        class="payment-column payment-advance is-clearfix"
        *ngIf="paymentInfo.advanceOnlyEnable"
      >
        <div class="pay-title pay-left">
          Advance Payable (LKR {{ paymentInfo.payableAdvance | number }})
        </div>
        <p *ngIf="advancePaymentEnabled" class="pay-title pay-right">
          LKR {{ paymentInfo.payableAdvance | number }}
        </p>
        <div class="field is-pulled-left is-clearfix payment-checkbox">
          <input
            class="is-checkradio is-info is-small"
            id="advance"
            type="checkbox"
            [(ngModel)]="advancePaymentEnabled"
          />
          <label for="advance" class="advance-text"
            >I want to only make an advance payment</label
          >
        </div>
      </div>
      <div
        class="payment-column payment-balance"
        *ngIf="paymentInfo.advanceOnlyEnable && advancePaymentEnabled"
      >
        <p class="pay-title pay-left">Balance Payable</p>
        <p class="pay-title pay-right">
          {{ totalCost - paymentInfo.payableAdvance | number }}
        </p>
      </div>
    </div>
  </div>
  <section class="accordions promo-accordion">
    <article class="accordion" [class.is-active]="displayAccordian">
      <div class="accordion-header" (click)="toggleAccordian()">
        <p>I have a promo code</p>
        <button class="toggle promo-toggle" aria-label="toggle"></button>
      </div>
      <div class="accordion-body">
        <div class="accordion-content">
          <div class="promo-content">
            <form (ngSubmit)="verifyPromo(promoForm.value)" #promoForm="ngForm">
              <input
                #promoInput
                type="text"
                name="promoCode"
                class="promo-input"
                id="promo-input"
                placeholder="GQ9Y1"
                ngModel
              />
              <button type="submit" class="button is-warning btn-promo">
                Apply
              </button>
            </form>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
