@import '../../../../src/variables.scss';

.payment-summary {
  .payment-summary-container {
    padding: 1.5rem 0.6rem;
    font-size: 0.8rem;
    font-weight: 700;
    @media (min-width: 768px) {
      padding: 1.5rem 0.8rem;
    }
    .payment-column {
      border-bottom: 1px solid #e5e5e5;
      padding: 0.5rem;
      .pay-title {
        width: 49%;
        display: inline-block;
        &.pay-left {
          text-align: left;
        }
        &.pay-right {
          text-align: right;
        }
      }

      &.payment-total,
      &.payment-balance {
        color: #000000;
        font-size: 0.9rem;
      }
      &.payment-advance {
        color: $color-baby-blue;
        font-size: 0.9rem;
        .payment-checkbox {
          text-align: left;
          .advance-text {
            color: #bdbdbd;
            font-size: 0.7rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  .promo-accordion {
    margin-top: 1rem;
    .accordion-header {
      background-color: #f5f5f5;
      color: #000000;
      font-weight: 600;
      font-size: 0.9rem;
    }
    .accordion-body {
      background-color: #ffffff;
    }
    .promo-toggle {
      background: transparent;
    }
    .promo-toggle::before {
      color: $color-light-blue;
      font-weight: 700;
      font-size: 1rem;
    }
    .promo-content {
      margin: 0 auto;
      width: 80%;
      @media (min-width: 768px) {
        width: 40%;
      }
      .promo-input {
        border: 1px dashed $color-light-blue;
        border-radius: 5px;
        height: 40px;
        text-align: center;
        width: 100%;
        color: #c0c0c0;
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 1rem;
      }
      .btn-promo {
        font-weight: 700;
        color: #0a0a0a;
        display: block;
        margin-top: 1rem;
        width: 100%;
        text-transform: uppercase;
      }
    }
  }
}
