<div class="step-content date-time has-text-centered is-active">
  <div class="columns">
    <div class="column">
      <div class="card booking-card-wrap">
        <div class="card-content">
          <app-calendar
            [spaceDetails]="spaceDetails"
            [calendarEvents]="calendarEvents"
            (selectedDate)="setSelectedDate($event)"
          >
          </app-calendar>
        </div>
      </div>
    </div>
    <div class="column">
      <app-hour-base
        *ngIf="spaceDetails?.availabilityMethod === 'HOUR_BASE'"
        [spaceDetails]="spaceDetails"
        [selectedDate]="selectedDate"
        [bookingDates]="bookingDates"
      ></app-hour-base>
      <app-block-base
        *ngIf="spaceDetails?.availabilityMethod === 'BLOCK_BASE'"
        [spaceDetails]="spaceDetails"
        [selectedDate]="selectedDate"
        [bookingDates]="bookingDates"
      ></app-block-base>
    </div>
  </div>
</div>
