/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400,600,700');

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$family-serif: "Nunito", sans-serif;
$family-primary: $family-serif;

@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/sass/utilities/animations";
@import "../node_modules/bulma/sass/utilities/mixins";
@import "../node_modules/bulma/sass/utilities/controls";

@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";

@import "../node_modules/bulma-extensions/bulma-accordion/dist/css/bulma-accordion.sass";
@import "../node_modules/bulma-extensions/bulma-steps/dist/css/bulma-steps.sass";
@import "../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass";

body{
  color: #000000;
}



