$color-grey : #f1f2f2;
$color-dark-grey : #EBEBEB;
$color-orange : #ffdd57;
$color-baby-blue : #00d2ff;
$color-light-blue : #1e9fe7;

@mixin flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin background-property{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;  
}