<div *ngIf="_selectedDate; else empty">
  <div class="card">
    <div class="card-content">
      <p class="booking-subtitle">
        {{ selectedDate?.date }} <br />
        Select Time
      </p>
      <spinner *ngIf="blocksLoading"></spinner>
      <div *ngIf="dayAvailabilityBlocks.length > 0; else noblocks">
        <div
          class="time-list"
          *ngFor="
            let block of (dayAvailabilityBlocks
              | sort: 'from'
              | filterBlocks: displayBlockCount);
            index as i
          "
        >
          <div class="field">
            <input
              class="is-checkradio is-info is-small"
              [id]="i"
              [name]="i"
              type="checkbox"
              [checked]="block.chosen"
              (change)="toggleBlock(block)"
              [disabled]="block.blocked || block.tempBlock"
            />
            <label [for]="i" class="time-text"
              >{{ block.from | timeFormat }} - {{ block.to | timeFormat }} -
              LKR{{ block.charge }}</label
            >
          </div>
        </div>
        <div
          class="button-wrap"
          *ngIf="dayAvailabilityBlocks.length > 6"
          (click)="toggleLoadMore()"
        >
          <a class="button button-blue btn-load" *ngIf="!toggleLoadMoreBlock"
            >Load More..</a
          >
          <a class="button button-blue btn-load" *ngIf="toggleLoadMoreBlock"
            >Hide</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #empty> <h2>Select a date from the calendar</h2> </ng-template>
<ng-template #noblocks>No blocks avaialable</ng-template>
