@import "../../../../../src/variables.scss";


  .time-list {
    padding: 0.5rem;
    background-color: #ebebeb;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: left;
    font-size: 0.6rem;
    .time-text {
      font-size: 0.8rem;
      font-weight: 700;
    }
  }


.button-wrap {
  margin-top: 1rem;
  .btn-load {
    background-color: $color-light-blue;
    border: 1px solid $color-light-blue;
    color: #ffffff;
    width: 100%;
  }
}