<div class="step-content additional-info has-text-centered is-active">
  <div class="venue-wrap">
    <div class="columns">
      <div class="column">
        <p class="venue-title">
          Expected Guest Count( Min:{{ minGuestCount }} PAX Max:{{
            maxGuestCount
          }})
        </p>
        <input
          type="number"
          class="input"
          [(ngModel)]="selectedGuestCount"
          [value]="selectedGuestCount"
        />
        <p class="help is-warning" *ngIf="selectedGuestCount < minGuestCount">
          * Your expected guest count is below the minimum capacity of
          {{ minGuestCount }}. The host may or may not fulfill your request.
        </p>
        <p class="help is-warning" *ngIf="selectedGuestCount > maxGuestCount">
          * Your expected guest count exceeds the maximum capacity of
          {{ maxGuestCount }}. The host may or may not fulfill your request.
        </p>
      </div>
      <div class="column">
        <p class="venue-title">Event Type</p>
        <div class="select venue-select">
          <select [(ngModel)]="selectedEvent">
            <option
              *ngFor="let eventType of eventTypes"
              [value]="eventType.id"
              >{{ eventType.name }}</option
            >
          </select>
        </div>
      </div>
      <div class="column">
        <p class="venue-title">Seating Arrangement</p>
        <div class="select venue-select">
          <select [(ngModel)]="selectedSeating">
            <option
              *ngFor="let option of seatingArrangements"
              [value]="option.id"
              >{{ option.name }}</option
            >
          </select>
        </div>
      </div>
    </div>
  </div>
  <section class="accordions venue-accordions">
    <article class="accordion" [class.is-active]="displayAccordian">
      <div class="accordion-header" (click)="toggleAccordian()">
        <p>I want additional amenities</p>
        <button class="toggle venue-toggle" aria-label="toggle"></button>
      </div>
      <div
        class="accordion-body"
        *ngIf="extraAmenities.length > 0; else no_extra_amenities"
      >
        <div class="accordion-content">
          <div class="columns venue-columns">
            <div
              class="column is-half"
              *ngFor="let amenity of extraAmenities; let idx = index"
            >
              <div class="venue-column">
                <div class="venue-type">
                  <p>{{ amenity.name }}</p>
                  <span class="venue-text">LKR {{ amenity.extraRate }}/hr</span>
                </div>
                <div class="input-wrap" *ngIf="amenity.amenityUnit !== 1">
                  <span
                    class="button venue-buttons is-left is-light"
                    (click)="increaseAmenityCount(amenity)"
                    >+</span
                  >
                  <input
                    type="text"
                    class="venue-input"
                    readonly
                    [(ngModel)]="amenity.count"
                    name="item{{ idx }}"
                  />
                  <span
                    class="button venue-buttons is-right is-light"
                    (click)="decreaseAmenityCount(amenity)"
                    >-</span
                  >
                </div>
                <div *ngIf="amenity.amenityUnit === 1">
                  <div class="field">
                    <input
                      id="amenity-id{{ idx }}"
                      name="amenity-unit{{ idx }}"
                      class="is-checkradio is-info is-small"
                      type="checkbox"
                      (change)="onChangeAmenity(amenity)"
                    />
                    <label for="amenity-id{{ idx }}"></label>
                  </div>
                </div>
                <div class="venue-price">
                  LKR {{ calculateAmenityCost(amenity) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>

<!-- <button
  class="button is-primary is-medium"
  (click)="continueToPaymentSummery()"
>
  Continue
</button> -->

<ng-template #no_extra_amenities>No chargable amenities available</ng-template>
