@import "../../../../src/variables.scss";

.additional-info{
  .venue-wrap {
    background: $color-light-blue;
    padding: 1rem;
    margin-bottom: 1rem;
    .venue-title {
      color: #fff;
      text-transform: uppercase;
      font-size: 0.7rem;
      text-align: left;
    }
    .venue-select {
      width: 100% !important;
      select {
        width: 100%;
      }
    }
  }
  .venue-accordions {
    .accordion-header {
      background-color: #f5f5f5;
      color: #000000;
      font-weight: 600;
      font-size: 0.9rem;
    }
    .accordion-body {
      background-color: #ffffff;
    }
    .venue-toggle {
      background: transparent;
    }
    .venue-toggle::before {
      color: $color-light-blue;
      font-weight: 700;
      font-size: 1rem;
    }
    .venue-columns {
      flex-wrap: wrap;
      .venue-column {
        color: #000000;
        @include flex;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 1rem;
        .venue-type {
          width: 20%;
          @media (min-width: 768px) {
            width: 25%;
          }
          text-align: left;
          font-size: 0.8rem;
          font-weight: 700;
          word-break: break-word;
          .venue-text {
            font-size: 0.7rem;
            color: #afafaf;
          }
        }
        .venue-price {
          width: 20%;
          @media (min-width: 768px) {
            width: 25%;
          }
          text-align: right;
          font-size: 0.8rem;
          font-weight: 700;
          word-break: break-word;
        }
        .input-wrap {
          width: 60%;
          @media (min-width: 768px) {
            width: 50%;
          }
          .venue-input {
            height: 32px;
            width: 51px;
            margin-right: -4px;
            margin-left: -4px;
            text-align: center;
            border: 1px solid #d6d6d6;
            outline: none;
          }
          .venue-buttons {
            height: 32px;
            border-color: #d6d6d6;
            border-radius: 0;
            font-weight: 700;
            color: #000000;
            &.is-left {
              border-right: transparent;
            }
            &.is-right {
              border-left: transparent;
            }
          }
        }
      }
    }
  }
}