@import "../../../src/variables.scss";

.booking-container {
  padding: 0 2rem;
  margin: 0 auto;

  @media (min-width: 1025px) {
    width: 60%;
  }
  @media (min-width: 1600px) {
    width: 55%;
  }

}

.booking-section {
  .steps {
    margin-top: 4rem;
  }
  .booking-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .booking-subtitle {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: left;
  }
  .steps-content {
    margin-top: 4rem;
  }
}


.promo-modal {
  z-index: 1000;
  .promo-card {
    text-align: center;
    width: 95%;
    @media (min-width: 768px) {
      width: 45%;
    }
    margin: 0 auto;
    padding:1rem;
    .promo-modal-title{
      color: #000000;
      font-weight: 700;
    }
    .promo-modal-subtitle{
      font-size: 0.7rem;
      color: #afafaf;
    }
    .promo-image{
      margin-top: 1rem;
    }
    .promo-modal-input {
      border: 1px solid $color-light-blue;
      border-radius: 5px;
      height: 40px;
      text-align: center;
      width: 100%;
      color: #c0c0c0;
      font-weight: 700;
      font-size: 1.2rem;
      letter-spacing: 1rem;
      margin-top: 1rem;
    }
    .btn-modal-promo {
      font-weight: 700;
      color: #0a0a0a;
      display: block;
      margin-top: 1rem;
      width: 100%;
      text-transform: uppercase;
    }
    .modal-text{
      margin: 1rem 0;
      font-weight: 700;
      color: #000000;
      font-size: 0.8rem;
    }
    .modal-phone{
      font-weight: 700;
      color: $color-light-blue;
    }
  }
}
