<div class="booking-container">
  <section class="section booking-section">
    <div class="steps" id="booking-steps">
      <div
        class="step-item is-warning"
        [class.is-active]="pageId === 1"
        [class.is-completed]="pageId === 2 || pageId === 3"
      >
        <div class="step-marker">1</div>
      </div>
      <div
        class="step-item is-warning"
        [class.is-active]="pageId === 2"
        [class.is-completed]="pageId === 3"
      >
        <div class="step-marker">2</div>
      </div>
      <div class="step-item is-warning" [class.is-active]="pageId === 3">
        <div class="step-marker">3</div>
      </div>
      <div class="steps-content"><router-outlet></router-outlet></div>
    </div>
  </section>
</div>
<app-footer></app-footer>
